:root {
  --btn-color: powderblue;
  --btn-radius: 2.5px;
  --btn-font-size: 1.7rem;
  --btn-font-weight: 600;
  --block-remove: red;
  --block-add: lightgreen;
  /* --block-width: 4rem; */
}

.marquee-container {
  /* max-width: 700px; */
  width: 100%;
  margin: 0 auto 2rem auto;
  text-align: center;
  border: 0.02rem solid grey;
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
}

.marquee-container:hover {
  border: 0.1rem solid black;
  box-shadow: 0.1rem 0.2rem 0.5rem grey;
  transform: translateY(-0.1rem);
}

/* .marquee-container:active {
  background-color: lightgoldenrodyellow;
} */

.marquee-display-container {
  padding-top: 2rem;
  margin: 0 auto 2rem auto;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
  cursor: pointer;
}

.marquee-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(253, 243, 229);
  height: 5rem;
  margin: 0 auto;
  border-bottom: 0.25rem grey solid;
  border-right: 0.25rem grey solid;
  border-left: 0.25rem grey solid;
}
/* first child is the error message component */
.marquee-row:nth-child(1) {
  border-top: 0.25rem grey solid;
}

.marquee-title-btn {
  background-color: var(--btn-color);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  border-radius: var(--btn-radius);
  display: block;
  height: 3.75rem;
  width: 15rem;
  padding: 0.5rem 0rem;
  border: none;
  /* margin-bottom: 1rem;
  margin-top: 1rem; */
  margin: 1rem auto 1rem auto;
}

.marquee-title-btn:hover,
.text-box-form-reset-btn:hover,
.set-current-marquee-btn:hover {
  background-color: rgb(161, 203, 209);
  cursor: pointer;
}

.marquee-block {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
  border: 0.1rem solid grey;
  user-select: none;
  background-color: white;
  caret-color: transparent;
  cursor: pointer;
  transition: ease-in-out;
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.marquee-block:hover {
  background-color: rgb(220, 220, 220);
}

.text-box-container {
  margin-bottom: 0.5rem;
}

.text-row {
  align-items: center;
  display: block;
  text-align: center;
  width: 350px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.text-box-form-reset-btn,
.set-current-marquee-btn {
  background-color: var(--btn-color);
  font-weight: var(--btn-font-weight);
  border-radius: var(--btn-radius);
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  border: none;
  height: 3.5rem;
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
}

/*
red border if there's an error:
*/
.error-message {
  /* display: none; */
  border: 0.05rem solid black;
  margin: 1rem auto;
  max-width: fit-content;
  padding: 0.5rem;
  border-radius: 3px;
  border-color: red;
  color: red;
}

.hidden {
  display: none;
}
