#keyboard-container {
  margin: 0 auto;
  display: block;
  max-width: 500px;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.keyboard-key {
  font-weight: 300;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 3px;
  margin-left: 3px;
  width: 5rem;
  height: 7rem;
  background-color: rgb(194, 197, 197);
  color: black;
  text-align: center;
}

.keyboard-key:hover {
  background-color: rgb(172, 172, 172);
}

.keyboard-key-special {
  width: 8rem;
}
