/* ///////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////// UNIVERSAL RESET ////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%; /* 16px is now 10px, therefore 1 REM = 10px */
  font-family: monospace;
  background-color: white;
  color: black;
}

#app-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  justify-self: center;
  justify-content: center;
  max-width: 500px;
  width: 500px;
}

/* code should start below here! */

/* ///////////////////////////////////////////////////////////////////////////*/
/* //////////////////////////// HELPER CLASSES ////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////*/
.hidden {
  visibility: hidden;
}

.remove {
  display: none;
}
